body {
	margin: 0 0;
	line-height: 0px;
}
.square-inactive {
	background-color: #a5dff9;
	width: 0.7em;
	height: 0.7em;
	display: inline-block;
}
.square-active {
	background-color: #ef5285;
	width: 0.7em;
	height: 0.7em;
	display: inline-block;
}